NUXT_API_BASE=http://127.0.0.1:3000
NUXT_API_KEY=mtl_live_dev_app_key
NUXT_PUBLIC_SITE_URL=http://localhost:3001
NUXT_PUBLIC_SITE_NAME=Majelis Ta'lim Al-Munawwaroh
NUXT_PUBLIC_SITE_DESCRIPTION=Lil Habib Zein bin Umar Al'Atthos
NUXT_PUBLIC_SITE_KEYWORDS=Majelis Ta'lim Al-Munawwaroh, Lil Habib Zein bin Umar Al'Atthos
NUXT_PUBLIC_SITE_AUTHOR=Majelis Ta'lim Al-Munawwaroh
NUXT_PUBLIC_SITE_AUTHOR_EMAIL=info@majelis-ta.com
NUXT_PUBLIC_SITE_AUTHOR_URL=https://majelis-ta.com
NUXT_PUBLIC_SITE_AUTHOR_LOGO=https://majelis-ta.com/logo.png
NUXT_PUBLIC_SITE_AUTHOR_DESCRIPTION=Majelis Ta'lim Al-Munawwaroh
